<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.springframework.org/security/tags" lang="fi">
    <head>
        <meta charset="UTF-8" />
        <title>Lafka</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="container">
        <h1>Lafka</h1>
        
        <form method="POST" th:action="@{/login}">
            <table>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" name="email" /></td>
                </tr>

                <tr>
                    <td><label>Salasana</label></td>
                    <td><input type="text" name="password" /></td>
                </tr>
            </table>

            <input type="submit" value="Kirjaudu" />
        </form>

        <p><a th:href="@{/signup}">Myyjät</a></p>
        <p><a th:href="@{/asiakkaat}">Asiakkaat</a></p>
        <p><a th:href="@{/tehtavat}">Jaa tehtäviä</a></p>
        
        <p/>
        <div sec:authorize="hasAuthority('USER')">USER</div>
        <div sec:authorize="hasAuthority('ADMIN')">ADMIN</div>
        <div sec:authorize="isAnonymous()">Anonymous </div>
        <div sec:authorize="isAuthenticated()">Authenticated</div>
        <div sec:authentication="name">Name</div> 

    </body>
</html>